<aside class="aside-background">
  <div class="aside-contain">
      <li class="aside-list0">
          <h2 class="aside-title">
            3 Reasons To Purchase
          </h2>
        </li>
    <ul class="aside-contain-list">
      <li class="aside-list1">
        <div class="grid1">
          <h5 class="aside-subtitles">
            Ut sed metus
          </h5>
          <p class="aside-paragraph">
            Lorem ipsum dolor sit amet, consecteur.
          </p>
        </div>
      </li>
      <li class="aside-list2">
        <div class="grid2">
          <h5 class="aside-subtitles">
            Curabitur ac erat
          </h5>
          <p class="aside-paragraph">
            Mauris mattis urna quis lorem molestie.
          </p>
        </div>
      </li>
      <li class="aside-list3">
        <div class="grid3">
          <h5 class="aside-subtitles">
            Morbi dictum
          </h5>
          <p class="aside-paragraph">
            Aliquam in dolor et dolor tincidunt.
          </p>
        </div>
      </li>
      <li class="aside-list4">
      <button class="aside-detail-button">
          more reasons
        </button>
        </li>
    </ul>
  </div>
</aside>
