<div class="footer-detail-background">
  <div class="footer-detail">
    <a href="#" class="footer-detail-link">
      <img class="footer-detail-arrow" src="assets/images/ico-arrow.svg" alt="arrow logo"></a>
    </div>
  </div>
  <section class="footer-background">
    <div class="footer-grid-container">
    <div class="footer-text">
      <ul class="footer-container-list">
        <li>Articles</li>
        <li>Books</li>
        <li>Events</li>
        <li>Reasons</li>
        <li>Tips</li>
      </ul>
    </div>

    <div class="footer-networks">
      <ul class="footer-container-list">
        <li>Twitter</li>
        <li>Instagram</li>
        <li>Mastodon.social</li>
      </ul>
    </div>
    <div class="footer-grid-copy-love">
    <p class="footer-copy"> &copy;2017</p>
    <address class="love-text">mwe <span class="heart">❤︎</span> components</address>
  </div>
</div>
  </section>
