<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href=assets/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
	<title>AlbaGomezPerez</title>

</head>
<body>
  <header>
    <partial src="_header.html" label="Header"></partial>
  </header>
    <main>
        <partial src="_hero.html" label="Hero"></partial>
        <partial src="_main1.html" label="Main1"></partial>
        <partial src="_aside.html" label="Aside"></partial>
    </main>
    <footer>
    <partial src="_footer.html" label="Footer"></partial>
    </footer>
</body>
</html>
