.aside-contain-list {
  list-style: none;
}

.aside-contain {
  background-color: pink;
}

.aside-title {
  margin: 0;
}

.aside-detail-button {
  width: 124px;
  height: 45px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.25;
  text-align: center;
  background-color: red;
  border: none;
  border-radius: 30px;
  padding: 0;
}

.aside-detail{

  // color: var(--white);
}
