.aside-contain-list {
  list-style: none;
  padding: 0;
}

.aside-contain {
  background-color: #eff9ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aside-title {
  margin: 0;
  text-align: center;
  vertical-align: middle;
  padding:0;
  width: 290px;
  }

.aside-detail-button {
  width: 124px;
  height: 45px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.25;
  text-align: center;
  background-color:#f26002;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 0;

}
.aside-list1{
  text-align: center;
  vertical-align: middle;
  padding:0;
  width: 180px;
}

.aside-list2{
  text-align: center;
  vertical-align: middle;
  padding:0;
  width: 180px;
}

.aside-list3{
  text-align: center;
  vertical-align: middle;
  padding:0;
  width: 180px;
}

// TABLET & DESKTOP

@media all and (min-width:768px){
  .aside-contain-list {
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:45px 1fr 45px;
    // grid-gap:0;
    // justify-items: center;
  }
  .aside-title {
    background: #f26002;

  }

  .aside-list0{
    grid-column:1/4;
    grid-row:1/2;
  }
  // .aside-list1 {
  //   background:pink;
  //   grid-column:1/2;
  //   grid-row:2/3;
  // }
  .aside-list1 {
    background:pink;
    grid-column:1/2;
    grid-row:2/3;
  }
  // .aside-list2 {
  //   background:blue;
  //   grid-column:2/3;
  //   grid-row:2/3;
  // }
  .aside-list2 {
    background:blue;
    grid-column:2/3;
    grid-row:2/3;
  }
  // .aside-list3 {
  //   background:yellow;
  //   grid-column:3/4;
  //   grid-row:2/3;
  // }
  .aside-list3 {
    background:yellow;
    grid-column:3/4;
    grid-row:2/3;
  }

  .aside-list4{
    grid-column:1/4;
    grid-row:3/4;
  }

  .aside-detail-button{
    background:coral;
    grid-column:1/4;
    grid-row:3/4;
  }
}
