
.footer-background {
  background-color: $dark-blue;
  display: flex;
  flex-direction: column;
  min-height: 50vw;
  width: auto;
  align-items: center;
  bottom: 0;
}

.footer-detail {
  background-color: $white;
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-25px)
}

.footer-grid-container{
  min-height: 50vw;
}

.footer-text{
  padding-bottom: 30px;
}

.footer-networks{
  padding-bottom: 30px;
}

.footer-copy{
  padding-bottom: 10px;
}

.love-text{
  padding-bottom: 45px;
}

// ANIMATION
@keyframes palpitation {
  from { transform: translateY(-25px); }
    50% { transform: scale(1.4); }
    to { transform: translateY(-25px); }
}
.footer-detail-background{
  transition: transform ease .6s;
}
.footer-detail{
  animation: palpitation .6s infinite;
  transform-origin: center;
  transition-property: scale;
  transition-duration: .6s;
}

.footer-detail:hover {
  transform: scale (1.1);
  background-image:(linear-gradient(top, rgba(198,247,245,1) 0%, rgba(48,66,104,1) 61%, rgba(48,66,104,1) 100%));
}

// ANIMATION
.footer-detail-arrow{
  text-align: center;
}

.footer-container-list{
  list-style: none;
  text-align: center;
  vertical-align: middle;
  padding:0;
  font-family: $Font1;
  font-size: $mobile-medium;
}
.heart{
  color: $orange;
}


.footer-text {
  font-size: $mobile-medium;
  font-family: $Font1;
  color: $white;
  text-transform: uppercase;
}

.footer-networks {
  font-size: $mobile-medium;
  font-family: $Font1;
  color: $white;
  text-transform: uppercase;
}

.footer-copy {
  margin: 0;
  font-size: $mobile-little;
  font-family: $Font1;
  text-align: center;
  vertical-align: middle;
  color: $white;
}

.love-text {
  font-size: $mobile-little;
  font-family: $Font1;
  color: $white;
}
// error

@media all and (min-width:768px){
  .footer-grid-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 768px;
    padding-right: 200px;
  }

  .footer-grid-copy-love{
    order:1;
    padding-left: $tablet-mini;
  }

  .footer-container-list{
    text-align: left;

  }
  .footer-text{
    order:2;
  }

  .footer-networks{
    order:3;
  }

  .love-text{
    text-align: left;
  }
  .footer-copy{
    text-align: left;

  }
}

