
.footer-background {
  background-color: #304268;
  display: flex;
  flex-direction: column;
  min-height: 50vw;
  width: auto;
  align-items: center;
  bottom: 0;
}

.footer-detail {
  background-color: white;
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-detail-arrow{
  text-align: center;
}

.footer-container-list{
  list-style: none;
  text-align: center;
  vertical-align: middle;
  padding:0;
}
.heart{
  color: red;
}
