.nav-header {
  background-color: red;
  width: 100vw;
  height:100vh;
}

.nav-logo-background {
  background-color: #0271bc;
  height: 44px;
  width: 44px;
  position:fixed;
}

.nav-logo {
  margin: 15px;
}
