

.hero-section{
  text-align: center;
}

.hero-background {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  justify-content: center;
  text-align: center;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  min-height: 50vw;
  width: auto;
  align-items: center;
  position: absolute;
  left:0;
  right: 0;
  transform: translateY(120vw);
}

.hero-title {
  color: $white;
  width: 290px;
  height: 110px;
  text-align: center;
  text-transform: uppercase;
  font-family: $Font2;
  font-weight: bold;
  font-size: $title-mobile-hero;
  text-align: center;
  vertical-align: middle;
  margin:0;
}

.hero-subtitle {
  text-align: center;
  vertical-align: middle;
  font-family: $Font1;
  font-size: $mobile-medium;
  color: $white;
  margin-top:10px;
  margin-bottom: 45px;
}

.hero-detail {
  background-color: $white;
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  display: flex;
  align-items:center;
  justify-content: center;
  margin-bottom: 53px;
}

  @keyframes palpitation {
    from { transform: translateY(-25px); }
      50% { transform: scale(1.4); }
      to { transform: translateY(-25px); }
  }
  .hero-detail{
    animation: palpitation .6s infinite;
    transform-origin: center;
  }

  .hero-detail:hover {
      background-image:(linear-gradient(top, rgba(198,247,245,1) 0%, rgba(48,66,104,1) 61%, rgba(48,66,104,1) 100%));
    }


  @media all and (min-width:768px){
    .hero-text-container {
      transform: translateY(45vw);
      line-height:106px;
    }
    .hero-title {
      font-size: $title-tablet-hero;
      width: 690px;
    }
    .hero-subtitle {
      font-size: $tablet-medium;
      padding-top:50px;
  }

}

@media all and (min-width:1200px){
  .hero-text-container {
    transform: translateY(20vw);
    line-height:106px;
  }
  .hero-title {
    font-size: $title-desktop-hero;
    width: 690px;
  }
  .hero-subtitle {
    padding-top:50px;
}

}




