

.hero-section{
  text-align: center;
}

.hero-background {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  // height: 568px;
  justify-content: center;
  text-align: center;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  min-height: 50vw;
  width: auto;
  align-items: center;
  position: absolute;
  left:0;
  right: 0;
  transform: translateY(90vw);
}

.hero-title {
  color: white;
  width: 290px;
  height: 110px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 42px;
  text-align: center;
  vertical-align: middle;
  margin:0;

  // transform: translateY(50%);
}

.hero-subtitle {
  text-align: center;
  vertical-align: middle;
  font-family: 'Roboto', serif;
  font-size: 16px;
  color: white;
  margin-top:10px;
  margin-bottom: 45px;

  // transform: translateY(50%);
}

.hero-detail {
  background-color:white;
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  display: flex;
  align-items:center;
  justify-content: center;
}

// .central-container {
  //   margin: 0 15px;
  //   background-color: #0271bc;
  // }




