.main1 {
  background-color: $white;
}

.main1-text {
  width: 290px;
  margin: 0;
  margin-top: 15px;
  padding-left: 15px;
  padding-bottom: 30px;
  font-family: $Font1;
  font-size: $mobile-big;
}

.main1-pretitle {
  color: $sky;
  font-size:$mobile-little;
  font-family: $Font1;
  margin: 0;
  padding-top: 30px;
  padding-left: 15px;
}

.main1-title {
  width: 290px;
  margin:0;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: $Font2;
  font-weight: bold;
  font-size: $title-mobile;
}

.main1-container-detail {
  background-color: $white;
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  border: solid 2px $orange;
  margin: 0;
  margin-left: 15px;
  margin-bottom: 45px;
}

.main1-detail {
  display: flex;
  align-items:center;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-left: 26px;
  padding-right: 25px;
  color: $orange;
  font-family: $Font2;
  font-size: $mobile-extra;
  text-transform: uppercase;
  transition: color ease 2s, font-size 0.5s;
  &:hover {
    color: $white;
    font-size: 25px;
  }
}

.main1-container-detail:hover {
  background-image:(linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(242,98,2,1) 68%, rgba(242,98,2,1) 100%));
  border:solid 2px $orange;
  color:$white;
}

.main1-detail:hover {
  color: $white;
}

@media all and (min-width:768px){
  .main1-title {
    width: 690px;
    font-size: $title-tablet;
  }
  .main1-text {
    width: 600px;
    font-size: $tablet-little;
    padding-top: 30px;
  }
}

@media all and (min-width:1200px){
  .main1-title {
    width: 690px;
    font-size: $desktop-medium;
  }

  .main1-pretitle {
    font-size: $desktop-little;
  }

  .space-contain {
    padding-left: 275px;
    width: 730px;
  }
}
