// COLOR VARIABLES
$orange: #f26002;
$white: #ffffff;
$sky: #8ccbea;
$blue: #0271bc;
$dark-blue: #304268;
$grey: #4a4a4a;
$black: #000000;


// FONTS VARIABLES

$Font1:'Roboto', serif;
$Font2:'Roboto Slab', serif;


// MOVIL
$title-mobile: 24px; // aside title 24 // main title 24
$title-mobile-hero: 42px; // title hero 42
$mobile-extra: 20px; // botton aside 20 // detail 20
$mobile-big: 18px; // aside-subtitles (18) // main text 18
$mobile-medium: 16px; // footer  16 // hero subtitle 16
$mobile-little: 14px; // love 14 // main pretitle 14 // copy



// TABLET
$title-tablet-hero: 80px; // title hero 80
$title-tablet: 26px; // aside title 26 // main title 26
$tablet-medium: 24px; // aside-subtitles 24 // aside paraprah 24 // hero subtitle 24
$tablet-little: 20px; // main text 20
$tablet-mini: 15px; // love and copy

// DESKTOP
$title-desktop-hero: 100px; // title hero 100
$desktop-medium: 32px; // main title 32
$desktop-little: 16px; // main pretitle 16








